



{
    email jdefilla@gmail.com
}

vaultwarden.jondef.me {
    tls internal
    reverse_proxy vaultwarden:80
}

jondef.me:80, jondef.me:443, www.jondef.me:80, www.jondef.me:443 {
    root * /srv/
    file_server
}