{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    email jdefilla@gmail.com
}

www.vaultwarden.jondef.me {
    redir https://vaultwarden.jondef.me{uri}
}

vaultwarden.jondef.me {
    reverse_proxy vaultwarden:443
}

www.jondef.me {
    redir https://jondef.me{uri}
}

jondef.me {
    root * /srv/
    file_server
}