################################################
#
# Please edit this file and enter your info
# into the <placeholders> below
#
################################################

# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#Time_Zone_abbreviations
# choose a value from the TZ database name column on the wikipedia page above
TZ=<your_timezone>
HOST_NAME=<your_host_name>
HOST_DOMAIN=<your_host_domain>

DOCKERDIR=<your_docker_directory>
DATADIR=<your_data_directory>

###############################################
# CLOUDFLARE
###############################################
CLOUDFLARE_DNS_EMAIL=<your_cloudflare_email>
CLOUDFLARE_DNS_API_TOKEN=<your_cloudflare_api_token>

###############################################
# N8N
###############################################
N8N_ENCRYPTION_KEY=<your_n8n_encryption_key>  # openssl rand -base64 32

###############################################
# NEXTCLOUD
###############################################
NEXTCLOUD_SMTP_NAME=<your_smtp_email>
NEXTCLOUD_SMTP_PASSWORD=<your_smtp_password>

NEXTCLOUD_ADMIN_USER=<your_nextcloud_admin_user>
NEXTCLOUD_ADMIN_PASSWORD=<your_nextcloud_admin_password>

NEXTCLOUD_DB_USER=<your_nextcloud_db_user>
NEXTCLOUD_DB_PASSWORD=<your_nextcloud_db_password>

###############################################
# Sharelatex
###############################################
SHARELATEX_ROOT_EMAIL=<your_sharelatex_root_email>

###############################################
# Monitoring
###############################################
GRAFANA_USER=<your_grafana_user>
GRAFANA_PASSWORD=<your_grafana_password>

###############################################
# WORDPRESS
###############################################
WORDPRESS_DB_NAME=<your_wordpress_db_name>
WORDPRESS_DB_USER=<your_wordpress_db_user>
WORDPRESS_DB_PASSWORD=<your_wordpress_db_password>
WORDPRESS_DB_ADMIN_PASSWORD=<your_wordpress_db_admin_password>

WORDPRESS_ADMIN_NAME=<your_admin_first_name>
WORDPRESS_ADMIN_LASTNAME=<your_admin_last_name>
WORDPRESS_ADMIN_USERNAME=<your_admin_username>
WORDPRESS_ADMIN_EMAIL=<your_admin_email>
WORDPRESS_ADMIN_PASSWORD=<your_admin_password>

# not used
WORDPRESS_TABLE_PREFIX=wpapp_
WORDPRESS_BLOG_NAME='<your_blog_name>'

WORDPRESS_SMTP_ADDRESS=<your_smtp_address>
WORDPRESS_SMTP_PORT=<your_smtp_port>
WORDPRESS_SMTP_USER_NAME=<your_smtp_user_name>
WORDPRESS_SMTP_PASSWORD=<your_smtp_password>

###############################################
# IMMICH
###############################################
IMMICH_DB_USERNAME=<your_immich_db_user>
IMMICH_DB_PASSWORD=<your_immich_db_password>

###############################################
# MEMOS
###############################################
MEMOS_DB_USERNAME=<your_memos_db_user>
MEMOS_DB_PASSWORD=<your_memos_db_password>

################################################
# VAULTWARDEN
################################################
VAULTWARDEN_SIGNUPS_ENABLED=false
VAULTWARDEN_ADMIN_SECRET=<your_vaultwarden_admin_secret> # docker exec -it vaultwarden /vaultwarden hash

################################################
# UPTIMEKUMA
################################################
TELEGRAM_CHAT_ID=<your_telegram_chat_id>
TELEGRAM_BOT_TOKEN=<your_telegram_bot_token>

################################################
# TRADER BOT
################################################
TT_USERNAME=<your_trader_bot_username>
TT_PASSWORD=<your_trader_bot_password>
TT_ACCOUNT=<your_trader_bot_account>

################################################
# GUACAMOLE
################################################
GUAC_USERNAME=<your_guacamole_username>
GUAC_PASSWORD=<your_guacamole_password>

################################################
# GITEA
################################################
GITEA_USERNAME=<your_gitea_username>
GITEA_PASSWORD=<your_gitea_password>

################################################
# DOCMOST
################################################
DOCMOST_DB_USERNAME=<docmost_user>
DOCMOST_DB_PASSWORD=<docmost_pw>
DOCMOST_APP_SECRET=<openssl rand -hex 32>
