################################################
#
# Please edit this file and enter your info
# into the <placeholders> below
#
################################################

CF_API_EMAIL=<your cloudflare login email>
CF_DNS_API_TOKEN=<cloudflare api token>
HOST_NAME=<your_server_name_without_domain>
HOST_DOMAIN=<your_domain.com>

# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#Time_Zone_abbreviations
# choose a value from the TZ database name column on the wikipedia page above
TZ=Europe/Zurich

################################################
#
# The values below are optional, and are only need
# if you enable the associated services
#
################################################

###############################################
# Traefik settings
###############################################
TRAEFIK_ACCESSLOG=true
TRAEFIK_LOG_LEVEL=DEBUG
TRAEFIK_DASHBOARD_ENABLE=true
TRAEFIK_MIDDLEWARE_USERPASSWD=<htpasswd -nb admin password>

#################
# OWNCLOUD bim bim bam bam
#################
OWNCLOUD_VERSION=10.13
OWNCLOUD_DOMAIN=cloud.example.com
OWNCLOUD_TRUSTED_DOMAINS=cloud.example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
HTTP_PORT=8080

###############################################
# Nextcloud settings
###############################################
SMTP_NAME=john.deer@gmail.com
SMTP_PASSWORD=<generate app password>
MAIL_FROM_ADDRESS=john.deer

######################
# TAILSCALE
#####################
TAILSCALE_KEY=<your tailscale key>


###############################################
# Immich Variables
###############################################
#IMMICH_DOCKER_TAG=release
#IMMICH_DB_HOSTNAME=immich_database
#IMMICH_DB_USERNAME=postgres
#IMMICH_DB_PASSWORD=postgres
#IMMICH_DB_DATABASE_NAME=immich
#IMMICH_POSTGRES_DATA_DIR=/var/lib/postgresql/data
# Redis
#IMMICH_REDIS_HOSTNAME=immich_redis
# Upload File Config
#IMMICH_UPLOAD_LOCATION=./upload
# MAPBOX
## ENABLE_MAPBOX is either true of false -> if true, you have to provide MAPBOX_KEY
#ENABLE_MAPBOX=false
# WEB
#MAPBOX_KEY=
#VITE_SERVER_ENDPOINT=http://localhost:2283/api

#IMMICH_TYPESENSE_ENABLED=true
#IMMICH_TYPESENSE_API_KEY=supersecretkey
#
#IMMICH_ROOT_NFS_SERVER=
#IMMICH_UPLOAD_NFS_SERVER_PATH=
#IMMICH_DB_NFS_SERVER_PATH=


################################################
# VAULTWARDEN SETTINGS
################################################
# VAULTWARDEN_SIGNUPS_ENABLED=false
# VAULT_ADMIN_SECRET=<openssl rand -base64 48> # openssl rand -base64 48

################################################
#
# SETTINGS TO ENABLE OR DISABLE SERVICES
#
################################################
